.container {
  height: 100vh; 

  display: flex;
  flex-direction: column;
  background: var(--blue);
  position: relative;
}

.container section {
  flex: 1;
  
  margin-top: 199px;  

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6.25rem;
}

.simbolo img {
  position: absolute;
  width: 768px;
  height: 660px;
  top: 80px;
  left: -68px;  
}

.loginInput > img {
  margin-bottom: 96px;
  
  width: 360px;
  height: 76px;
  left: 820px;
  top: 199px;  
}

.loginInput h1 {
  /* font-family: Inter; */
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 46px;

  color: var(--white);
}

.text {
  display: grid;
  grid-template-columns: 60px 1fr;
  margin-top: 24px;
}

.text img {  
  left: 100%;
  right: -100%;
  top: 2.08%;
  bottom: 2.08%;  
}

.text p {
  width: 254px;
  height: 60px;
  left: 884px;
  top: 441px;

  /* font-family: Inter; */
  font-style: normal;
  font-weight: 500;
  font-size: 20px;  
  
  color: #B3B9FF;
}

.input {
  display: grid;
  grid-template-columns: auto 1fr;
  margin-top: 40px;
}

.input input[type="text"] {
  padding-left: 30.32px;
  font-size: 20px;  
  color: var(--white);
  width: 340px;
  height: 80px;
  left: 820px;
  top: 541px;

  background: linear-gradient(90deg, #4953B8 0%, rgba(73, 83, 184, 0.2) 100%);
  border-radius: 5px 0px 0px 5px;
}

.input input::placeholder {
  /* font-family: Inter; */
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 34px;

  color: #B3B9FF;
}

.input button {
  border: none;
  width: 80px;
  height: 80px;
  left: 1160px;
  top: 541px;

  background: linear-gradient(90deg, #4953B8 0%, rgba(73, 83, 184, 0.2) 100%);;
  border-radius: 0px 5px 5px 0px;
}
